{% extends 'buyer/base.html' %}
{% load static %}
{% block title %}
Contact Us
{% endblock%}
{% block styles %}
{% endblock %}
{% block body %}

<div class="container-fluid col-xxl-8 px-4 py-5">
    <div class="row">
        <div class="col-md-6">
            <h2>About Us</h2>
            <p>Welcome to BOY ESSENCE OUTFITS, your premier destination for sophisticated men's attire.</p>
            <p>At Boy Essence, we curate a meticulously chosen collection, blending refined style with individual flair. Our garments are crafted from premium materials, ensuring both comfort and durability.</p>
            <p>Step into a world where confidence meets timeless elegance, and discover the essence of true gentlemanly fashion with Boy Essence Outfits.</p>
            <h2>Our Mission</h2>
            <p>Our mission at BOY ESSENCE OUTFITS is to provide men with high-quality, stylish clothing that allows them to express their unique personality and sense of style.</p>
            <h3>Thanks for Visit..!</h3>



        </div>
        <div class="col-md-6">
            <img src="{% static 'buyer/images/img3.jpg' %}" class="img-fluid" alt="About Us Image">
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>


{% endblock %}
